@font-face {
  font-family: "titulo";
  src: url(../resources/fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: "letra";
  src: url(../resources/fonts/Poppins-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  font-family: "letra", "titulo";
  background-color: white;
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}


.parte_superior {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
  padding: 20px;
}

.logo {
  height: 90px;
  margin-right: 10%;
}


.parte_superior button {
  background: none;
  border: none;
  font-family: "letra", "titulo";
  font-size: 20px;
  color: #666;
  cursor: pointer;
  padding: 8px 75px;
}
.btn_apy {
  color: #9a8c68;
}

.btn_apy:hover {
  color: #9a8c68;
}

.parte_inferior {
  display: flex;
  flex-direction: column;
  max-width: 1920px;
  top: 40px;
  margin: 0 auto;
  position: relative;
  left: -20%;
}

.parte_inferior h1 {
  font-size: 100px;
  font-weight: 700px;
  margin-bottom: 16px;
  max-width: 600px;
}

.parte_inferior p {
  font-size: 30px;
  line-height: 1.6;
  margin-bottom: 40px;
  max-width: 600px;
  color: #555;
}

.btn_comnezar{
  background-color: #9a8c68;
  color: white;
  border: none;
  font-family: "letra";
  padding: 12px 30px;
  font-size: 30px;
  font-weight: 500;
  border-radius: 50px;
}

.btn_comnezar :hover {
  background-color: #857754;
}

.parte_inferior img {
  position: absolute;
  right: -130%;
  top: 15px;
  max-width: 120%;
  height: auto;
}


@media (max-width: 992px) {
  .parte_superior {
    flex-wrap: wrap;
  }

  .logo {
    margin-bottom: 10px;
  }

  .parte_inferior {
    padding-top: 20px;
    min-height: auto;
  }

  .parte_inferior img {
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    max-width: 100%;
    margin-top: 40px;
    align-self: center;
  }
}

@media (max-width: 768px) {
  .parte_superior {
    justify-content: center;
    gap: 10px;
  }

  .parte_superior button {
    font-size: 12px;
    padding: 6px 8px;
  }

  .parte_inferior h1 {
    font-size: 32px;
  }

  .parte_inferior p {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .parte_superior {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .parte_inferior {
    text-align: center;
    align-items: center;
  }
}
